/Doc/lay_e2.log
/Doc/layout_e.aux
/Doc/layout_e.idx
/Doc/layout_e.ilg
/Doc/layout_e.ind
/Doc/layout_e.log
/Doc/layout_e.pdf
/Doc/layout_e.synctex.gz
/Doc/layout_e.toc
/Doc/pagepc.sty
/Doc/refman.dtx
/Doc/refman.ins
/Doc/refman.upl
/Readme~
/TODO~
/test_mesh_and_solver.m~
